<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suiteleaderboard" parallel="none">
  <test name="Test">
    <classes>
      <class name="leaderboard.DataFromToDate"/>
      <class name="leaderboard.LeaderBoard"/>
      <class name="leaderboard.VerifySearchBox"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suiteleaderboard -->
